<!-- app/views/messages/index.html.erb -->
<div id="messages-container" data-controller="messages">
  <div id="messages" class="box-size rounded-5 bg-white mb-2 pb-1">
    <%= render partial: "partials/message", collection: @messages, as: :message %>
  </div>
</div>

<turbo-frame id="confirm_bar">
  <%= render "partials/confirm_bar", draft: nil, signed_draft: nil %>
</turbo-frame>

<%= render partial: "partials/chat_form", locals: { user_message: @user_message } %>
