// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #99BC85;
$gray: #0E0000;
$light-gray: #F4F4F4;
$chat-green: #E4EFE7;
$background-beige: #FDFAF6;
$table-brown: #FAF1E6;
