// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;


$green: #99BC85;  // like the balance background
$chat-green: #F6F7F2;
$background-beige: #FDFAF6;
$table-brown: #FAF1E6;
$chat-grey: rgb(217, 216, 216);
