<% if message.role == "user" %>
  <div class="d-flex justify-content-end mb-2 user-m">
    <div class="bg-secondary px-3 pb-0 pt-3 rounded-pill align-self-center">
      <%= message.content %>
    </div>
  </div>
<% elsif message.role == "assistant" %>
  <div class="d-flex justify-content-start mb-5 llm-m">
    <div class="bg-primary px-3 pb-0 pt-3 rounded-pill align-self-center">
      <%= markdown(message.content) %>
    </div>
  </div>
<% end %>
