<div class="d-flex <%= message.role == "user" ? 'justify-content-end' : 'justify-content-start' %> mb-2">
  <div class="chat-bubble <%= message.role == 'user' ? 'from-user user-m' : 'from-assistant llm-m' %>">
    <% if message.role == "user" %>
      <%= message.content %>
    <% elsif message.role == "assistant" %>
      <%= markdown(message.content) %>
    <% end %>
  </div>
</div>

