<%# Header will be a partial !! %>
<div id="header">
</div>
<%# BALANCE %>
<div id="balance_container">
</div>
<%# STATS %>
<div id="dashboard_stats_container">
  <div id="last_month_comparison_stat">
  </div>
  <div id="daily_average_stat">
  </div>
</div>
<%# AI CHAT FORM %>
<div id="ai_chat_input">
</div>
<%# CREATE TRANSACTION FORM %>
<div id="create_transaction_form">
</div>
<%# NAVBAR (will be a partial) %>
<div id="nav_bar">
</div>
