.footer {
  justify-content: space-between;
  background: rgb(255, 255, 255);
  flex-shrink: 0;
  width: 100%;

}

h5 {
  font-size: small;
  text-align: center;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.footer-content {
  width: 100%;
  .nav-item {
    width: 25%;
  }
}
