// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.box-size {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

body {
  padding-top: 56px;   /* match header height */
  padding-bottom: 60px; /* match footer height */
}
