<div class="w-100 d-flex align-items-center justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLimit" aria-controls="offcanvasLimit">
  <h2>Set category limit <i class="fa-solid fa-circle-plus fa-xl" style="color: #99bc85;"></i></h2>
</div>



<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasLimit" aria-labelledby="offcanvasLimitLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLimitLabel">Set Category Limit</h5>
  </div>
  <div class="offcanvas-body small">

    <%= simple_form_for @category do |f| %>
      <%#= f.input :category_id, collection: Category.where.not(title: "Income").pluck(:title, :id), prompt: "Select a Category", label: false, input_html: { class: "my-4" } %>
      <%= f.input :limit, as: :integer, step: 1000, placeholder: "Set your Monthly Budget(Optional)", label: false, input_html: { min: "0" } %>
      <%= f.submit "Set Category limit" %>
    <% end %>
  </div>
</div>
