<%# HEADER PARTIAL %>
<%# | %>
<%# | %>
<%# HEADER PARTIAL %>
<div class="container">
  <div class="card-body">
    <div id="transaction_index">
      <h3 class="card-title">Categories</h3>
    </div>
    <%# NAV BAR %>
    <%# | %>
    <%# | %>
  </div>
</div>
<%# NAV BAR %>
