<%# HEADER PARTIAL %>

<%# | %>

<%# | %>

<%# HEADER PARTIAL %>


<div id="transaction_index">
  <h2>Transactions Index page</h2>

  e<% @transactions.each do |transaction| %>
    <%= transaction.description %>
    <%= transaction.amount %>
    <%= transaction.category.title %>
    <%= transaction.date %>
  <% end %>
</div>


<%# NAV BAR %>

<%# | %>

<%# | %>

<%# NAV BAR %>
